* {
    box-sizing: border-box;
}

body {
    font-family: 'ambleregular', Arial, sans-serif;
}
//*********************************************
//******************** intro ******************
//*********************************************

.start {
    width: 100vw;
    height: 100vh;
    background-color: rgba($additional-color, 0.9);
    z-index: 100;
    display: flex;
    position: fixed;

    .content {
        width: 1000px;
        height: 65%;
        background-color: lighten($additional-color, 5%);
        margin: auto;
        position: relative;
        border: 5px solid $additional-color;

        &__img {
            height: 175%;
            width: 50%;
            position: absolute;
            top: -153px;
        }

        &__paragraph {
            width: 50%;
            height: 100%;
            float: right;
            color: $minor-color2;
            font-size: 30px;
            line-height: 63px;
        }

        &__fight {
            position: absolute;
            color: $minor-color2;
            font-size: 20px;
            bottom: 35px;
            right: 20px;
            cursor: url("../images/crosshair.cur"), crosshair;
        }
    }
}
//*********************************************
//************** music panel ******************
//*********************************************

.music {
    width: 90px;
    height: 26px;
    background-color: darken(rgba(239, 79, 53, 0.7), 15%);
    color: $additional-color2;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    box-shadow: 2px 1px 7px 5px $additional-color;
    border-radius: 2px;
    cursor: pointer;
    z-index: 110;
}
//*********************************************
//**************** game core ******************
//*********************************************

main {
    width: 100vw;
    height: 100vh;
    background-color: lighten($additional-color, 20%);
    background-image: url("../images/robo-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    display: -ms-flexbox;
}

.activePlayer {
    background-color: rgba(darken($minor-color, 10%), 0.5);
    transition: background-color 0.5s ease-in-out;
}

.activePlayer .playerChar {
    border-top: 3px solid darken(rgb(239, 79, 53), 15%);
}

.gameWrap {
    width: 1000px;
    height: 65%;
    background-color: rgba($additional-color, 0.8);
    margin: auto;
    position: relative;
    display: flex;
    box-shadow: 13px 11px 19px 3px $additional-color;
}

.panel {
    width: 50%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;

    .playerChar {
        width: 200px;
        height: 200px;
        margin: 80px 0 5px;

        .playerName {
            font-size: 35px;
            text-align: center;
            text-transform: uppercase;
            color: $main-color;
            padding: 10px 0;
        }

        .hero {
            width: 100%;
            height: 72%;
            border-radius: 5px;
            box-shadow: 4px 5px 14px 0 $additional-color;
        }
    }

    .playerGeneralScore {
        width: 33%;
        height: 20%;
        color: $additional-color2;
        text-align: center;
        font-size: 120px;
        margin: 0 0 40px;
    }

    .playerCurrentWrap {
        width: 135px;
        height: 100px;
        background-color: rgba($minor-color, 0.6);
        border-radius: 3px;
        margin-bottom: 75px;

        .playerCurrentLabel {
            color: rgba($additional-color2, 0.6);
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            padding: 10px 0;
        }

        .playerCurrentScore {
            text-align: center;
            font-size: 42px;
        }
    }
}

%buttonStyles {
    color: $additional-color2;
    background-color: transparent;
    border: none;
}
// center elements

%center {
    left: 50%;
    transform: translateX(-50%);
}

button {
    width: 140px;
    height: 60px;
    border: 5px solid $minor-color;
    background-color: transparent;
    color: $main-color;
    position: absolute;
    @extend %center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 2px;
    cursor: url("../images/crosshair.cur"), pointer;

    &:hover {
        border: 5px solid rgba($minor-color, 0.7);
        background-color: rgba($minor-color, 0.7);
        color: $additional-color2;
    }

    &:focus {
        outline: none;
    }
}

.btnRoll {
    bottom: 21%;
    border: none;

    &:hover {
        @extend %buttonStyles;
    }
}

.btnHold {
    bottom: 12%;
    border: none;

    &:hover {
        @extend %buttonStyles;
    }
}

#input {
    position: absolute;
    width: 150px;
    height: 50px;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    @extend %center;
    bottom: 4%;
    border: 1px solid rgba($main-color, 0.1);
    background: rgba($additional-color, 0.5);
    color: $main-color;
    outline: none;
}

.dice {
    position: absolute;
    width: 100px;
    height: 100px;
    @extend %center;
    bottom: 50%;
    box-shadow: 13px 11px 19px 3px $additional-color;
    opacity: 0.8;
}

.showHide {
    display: none;
}

.winner {
    color: darken(rgb(239, 79, 53), 15%) !important;
}

.hit {
    position: absolute;
    width: 140px;
    height: 60px;
    background-color: darken(rgba(239, 79, 53, 0.8), 15%);
    text-transform: uppercase;
    @extend %center;
    bottom: 62%;
    border-radius: 4px;
    text-align: center;
    padding-top: 20px;
    color: $additional-color2;
    font-weight: bold;
    display: none;
}
//*********************************************
//***************** ending 1 ******************
//*********************************************

.endRobo {
    // display: none;
    left: 0;
    top: 0;

    .ending1 {
        padding: 40px;

        &__container {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-between;

            &--img {
                width: 312px;
                height: 230px;
                border: 5px solid darken($minor-color2, 15%);
                border-radius: 3px;
                box-shadow: 6px 7px 20px 9px $additional-color;
            }

            .dick {
                margin-right: 10%;
            }

            .happyRobo {
                margin-left: 10%;
            }

            p {
                width: 50%;
                font-size: 20px;
                color: $minor-color2;
                line-height: 33px;

                em {
                    text-transform: uppercase;
                    line-height: 30px;
                }

                .mission {
                    font-size: 30px;
                    text-transform: uppercase;
                    line-height: 105px;
                    margin-left: 20%;
                }
            }
        }
        //*********************************************
        //***************** credits *******************
        .credits {
            text-transform: uppercase;
            position: absolute;
            @extend %center;
            font-size: 30px;
            bottom: 3%;
            width: 135px;
            height: 45px;
            border: 5px solid darken($minor-color2, 15%);
            text-align: center;
            padding: 3px;
            border-radius: 3px;
            color: $minor-color2;
            cursor: url("../images/crosshair.cur"), crosshair;

            &:hover {
                background-color: darken($minor-color2, 15%);
                color: $additional-color2;
            }
        }
    }
}
//*********************************************
//***************** ending 2 *******************
//*************** game over *******************

.endEd {
    left: 0;
    top: 0;

    .ending2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;

        .gameOver {
            border: 5px solid darken($minor-color2, 15%);
            border-radius: 3px;
            box-shadow: 6px 7px 20px 9px $additional-color;
        }

        p:first-of-type {
            color: $minor-color2;
            font-size: 30px;
            padding: 30px;
        }

        p:nth-of-type(2) {
            color: $minor-color2;
            font-size: 100px;
            padding: 30px;
            text-transform: uppercase;
        }

        .tryAgain {
            text-transform: uppercase;
            position: absolute;
            @extend %center;
            font-size: 30px;
            bottom: 5%;
            width: 180px;
            height: 45px;
            border: 5px solid darken($minor-color2, 15%);
            text-align: center;
            padding: 3px;
            border-radius: 3px;
            color: $minor-color2;
            cursor: url("../images/crosshair.cur"), crosshair;

            &:hover {
                background-color: darken($minor-color2, 15%);
                color: $additional-color2;
            }
        }
    }
}
