
@font-face {
    font-family: 'ambleregular';
    src: url('../css/fonts/amble-regular.woff2') format('woff2'),
         url('../css/fonts/amble-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
